<html>
<body>
	<h1>Caractéristiques du véhicule</h1>
    <table class="table table-striped">
        <ul>
          <li>{{ vehicule.immatveh }}</li>
          <li>{{ vehicule.dateAchatVeh|date('Y-m-d') }}</li>
          <li>{{ vehicule.couleurVeh }}</li>
          <li>{{ vehicule.kilometrageVeh }}</li>
        </ul>
    </table>
</body>
</html>